--
-- PostgreSQL database dump
--

\restrict rSMSWBavSH5529DfirhUAaBXpVnCXg1bEbbrQHvH3cmmfCsRrYZz6fPH9c53Vdj

-- Dumped from database version 15.18 (Debian 15.18-1.pgdg13+1)
-- Dumped by pg_dump version 15.18 (Debian 15.18-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activities_activity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activities_activity (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    activity_type character varying(20) NOT NULL,
    max_participants integer NOT NULL,
    start_date timestamp with time zone NOT NULL,
    end_date timestamp with time zone NOT NULL,
    location character varying(200) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    competency_id bigint NOT NULL,
    instructor_id bigint,
    CONSTRAINT activities_activity_max_participants_check CHECK ((max_participants >= 0))
);


ALTER TABLE public.activities_activity OWNER TO postgres;

--
-- Name: activities_activity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.activities_activity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.activities_activity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: activities_challenge; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activities_challenge (
    id bigint NOT NULL,
    instructions text NOT NULL,
    deliverable_description text NOT NULL,
    due_date timestamp with time zone NOT NULL,
    max_score numeric(5,2) NOT NULL,
    activity_id bigint NOT NULL
);


ALTER TABLE public.activities_challenge OWNER TO postgres;

--
-- Name: activities_challenge_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.activities_challenge ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.activities_challenge_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: activities_enrollment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activities_enrollment (
    id bigint NOT NULL,
    status character varying(20) NOT NULL,
    enrolled_at timestamp with time zone NOT NULL,
    completed_at timestamp with time zone,
    activity_id bigint NOT NULL,
    student_id bigint NOT NULL,
    team_id bigint
);


ALTER TABLE public.activities_enrollment OWNER TO postgres;

--
-- Name: activities_enrollment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.activities_enrollment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.activities_enrollment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: activities_mentorapplication; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activities_mentorapplication (
    id bigint NOT NULL,
    status character varying(20) NOT NULL,
    applied_at timestamp with time zone NOT NULL,
    activity_id bigint NOT NULL,
    graduate_id bigint NOT NULL
);


ALTER TABLE public.activities_mentorapplication OWNER TO postgres;

--
-- Name: activities_mentorapplication_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.activities_mentorapplication ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.activities_mentorapplication_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: activities_team; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activities_team (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    activity_id bigint NOT NULL
);


ALTER TABLE public.activities_team OWNER TO postgres;

--
-- Name: activities_team_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.activities_team ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.activities_team_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: activities_team_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activities_team_members (
    id bigint NOT NULL,
    team_id bigint NOT NULL,
    customuser_id bigint NOT NULL
);


ALTER TABLE public.activities_team_members OWNER TO postgres;

--
-- Name: activities_team_members_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.activities_team_members ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.activities_team_members_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: analytics_cohortreport; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.analytics_cohortreport (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    period character varying(50) NOT NULL,
    report_data jsonb NOT NULL,
    report_file character varying(100),
    created_at timestamp with time zone NOT NULL,
    generated_by_id bigint
);


ALTER TABLE public.analytics_cohortreport OWNER TO postgres;

--
-- Name: analytics_cohortreport_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.analytics_cohortreport ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.analytics_cohortreport_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: analytics_studentmetric; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.analytics_studentmetric (
    id bigint NOT NULL,
    average_score numeric(5,2) NOT NULL,
    evaluations_count integer NOT NULL,
    current_level character varying(20) NOT NULL,
    last_updated timestamp with time zone NOT NULL,
    competency_id bigint NOT NULL,
    student_id bigint NOT NULL,
    CONSTRAINT analytics_studentmetric_evaluations_count_check CHECK ((evaluations_count >= 0))
);


ALTER TABLE public.analytics_studentmetric OWNER TO postgres;

--
-- Name: analytics_studentmetric_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.analytics_studentmetric ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.analytics_studentmetric_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: competencies_competency; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.competencies_competency (
    id bigint NOT NULL,
    name character varying(150) NOT NULL,
    description text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.competencies_competency OWNER TO postgres;

--
-- Name: competencies_competency_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.competencies_competency ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.competencies_competency_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: competencies_rubric; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.competencies_rubric (
    id bigint NOT NULL,
    level character varying(20) NOT NULL,
    description text NOT NULL,
    min_score numeric(5,2) NOT NULL,
    max_score numeric(5,2) NOT NULL,
    subcompetency_id bigint NOT NULL
);


ALTER TABLE public.competencies_rubric OWNER TO postgres;

--
-- Name: competencies_rubric_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.competencies_rubric ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.competencies_rubric_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: competencies_subcompetency; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.competencies_subcompetency (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    description text NOT NULL,
    is_active boolean NOT NULL,
    competency_id bigint NOT NULL
);


ALTER TABLE public.competencies_subcompetency OWNER TO postgres;

--
-- Name: competencies_subcompetency_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.competencies_subcompetency ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.competencies_subcompetency_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: diagnostics_diagnosticquestion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.diagnostics_diagnosticquestion (
    id bigint NOT NULL,
    text text NOT NULL,
    "order" integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    competency_id bigint NOT NULL,
    CONSTRAINT diagnostics_diagnosticquestion_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.diagnostics_diagnosticquestion OWNER TO postgres;

--
-- Name: diagnostics_diagnosticquestion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.diagnostics_diagnosticquestion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.diagnostics_diagnosticquestion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: diagnostics_diagnosticresult; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.diagnostics_diagnosticresult (
    id bigint NOT NULL,
    score numeric(5,2) NOT NULL,
    observation text NOT NULL,
    evaluated_at timestamp with time zone NOT NULL,
    question_id bigint NOT NULL,
    student_id bigint NOT NULL
);


ALTER TABLE public.diagnostics_diagnosticresult OWNER TO postgres;

--
-- Name: diagnostics_diagnosticresult_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.diagnostics_diagnosticresult ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.diagnostics_diagnosticresult_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: evaluations_auditlog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations_auditlog (
    id bigint NOT NULL,
    action character varying(50) NOT NULL,
    model_name character varying(100) NOT NULL,
    object_id integer NOT NULL,
    changes jsonb NOT NULL,
    ip_address inet,
    "timestamp" timestamp with time zone NOT NULL,
    user_id bigint,
    CONSTRAINT evaluations_auditlog_object_id_check CHECK ((object_id >= 0))
);


ALTER TABLE public.evaluations_auditlog OWNER TO postgres;

--
-- Name: evaluations_auditlog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evaluations_auditlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evaluations_auditlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evaluations_evaluation360; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations_evaluation360 (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    evaluation_type character varying(20) NOT NULL,
    period character varying(50) NOT NULL,
    status character varying(20) NOT NULL,
    due_date date,
    completed_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    competency_id bigint NOT NULL,
    evaluated_id bigint NOT NULL,
    evaluator_id bigint NOT NULL
);


ALTER TABLE public.evaluations_evaluation360 OWNER TO postgres;

--
-- Name: evaluations_evaluation360_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evaluations_evaluation360 ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evaluations_evaluation360_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evaluations_evaluationscore; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations_evaluationscore (
    id bigint NOT NULL,
    score numeric(5,2) NOT NULL,
    comment text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    evaluation_id bigint NOT NULL,
    subcompetency_id bigint NOT NULL
);


ALTER TABLE public.evaluations_evaluationscore OWNER TO postgres;

--
-- Name: evaluations_evaluationscore_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evaluations_evaluationscore ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evaluations_evaluationscore_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evaluations_graduatefeedback; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations_graduatefeedback (
    id bigint NOT NULL,
    company_name character varying(200) NOT NULL,
    job_title character varying(150) NOT NULL,
    relevance_rating smallint NOT NULL,
    frequency_rating smallint NOT NULL,
    feedback_text text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    competency_id bigint NOT NULL,
    graduate_id bigint NOT NULL,
    CONSTRAINT evaluations_graduatefeedback_frequency_rating_check CHECK ((frequency_rating >= 0)),
    CONSTRAINT evaluations_graduatefeedback_relevance_rating_check CHECK ((relevance_rating >= 0))
);


ALTER TABLE public.evaluations_graduatefeedback OWNER TO postgres;

--
-- Name: evaluations_graduatefeedback_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evaluations_graduatefeedback ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evaluations_graduatefeedback_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evidences_evidence; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evidences_evidence (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    evidence_type character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    review_comment text NOT NULL,
    reviewed_at timestamp with time zone,
    uploaded_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    competency_id bigint NOT NULL,
    reviewed_by_id bigint,
    student_id bigint NOT NULL,
    activity_id bigint,
    external_url character varying(200) NOT NULL,
    file character varying(100)
);


ALTER TABLE public.evidences_evidence OWNER TO postgres;

--
-- Name: evidences_evidence_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evidences_evidence ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evidences_evidence_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evidences_filemetadata; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evidences_filemetadata (
    id bigint NOT NULL,
    file character varying(100) NOT NULL,
    original_filename character varying(255) NOT NULL,
    file_size integer NOT NULL,
    mime_type character varying(100) NOT NULL,
    uploaded_at timestamp with time zone NOT NULL,
    evidence_id bigint NOT NULL,
    CONSTRAINT evidences_filemetadata_file_size_check CHECK ((file_size >= 0))
);


ALTER TABLE public.evidences_filemetadata OWNER TO postgres;

--
-- Name: evidences_filemetadata_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evidences_filemetadata ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evidences_filemetadata_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications_notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications_notification (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    message text NOT NULL,
    notification_type character varying(30) NOT NULL,
    is_read boolean NOT NULL,
    link character varying(500) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    recipient_id bigint NOT NULL
);


ALTER TABLE public.notifications_notification OWNER TO postgres;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.notifications_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_customuser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    cedula character varying(10),
    phone character varying(15) NOT NULL,
    institutional_email character varying(254),
    is_active boolean NOT NULL,
    role_id bigint,
    session_key character varying(40)
);


ALTER TABLE public.users_customuser OWNER TO postgres;

--
-- Name: users_customuser_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_customuser_groups OWNER TO postgres;

--
-- Name: users_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_customuser_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_customuser_user_permissions OWNER TO postgres;

--
-- Name: users_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_role (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.users_role OWNER TO postgres;

--
-- Name: users_role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_role ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_supportticket; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_supportticket (
    id bigint NOT NULL,
    subject character varying(200) NOT NULL,
    description text NOT NULL,
    category character varying(20) NOT NULL,
    priority character varying(10) NOT NULL,
    status character varying(15) NOT NULL,
    admin_response text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    assigned_to_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.users_supportticket OWNER TO postgres;

--
-- Name: users_supportticket_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_supportticket ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_supportticket_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_systemsetting; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_systemsetting (
    id bigint NOT NULL,
    max_file_size_mb integer NOT NULL,
    allowed_file_extensions character varying(200) NOT NULL,
    smtp_host character varying(150) NOT NULL,
    smtp_port integer NOT NULL,
    smtp_use_tls boolean NOT NULL,
    system_email character varying(254) NOT NULL,
    maintenance_mode boolean NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    updated_by_id bigint,
    CONSTRAINT users_systemsetting_max_file_size_mb_check CHECK ((max_file_size_mb >= 0)),
    CONSTRAINT users_systemsetting_smtp_port_check CHECK ((smtp_port >= 0))
);


ALTER TABLE public.users_systemsetting OWNER TO postgres;

--
-- Name: users_systemsetting_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_systemsetting ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_systemsetting_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_userprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_userprofile (
    id bigint NOT NULL,
    bio text NOT NULL,
    avatar character varying(100),
    career character varying(150) NOT NULL,
    semester integer,
    company_name character varying(200) NOT NULL,
    graduation_year integer,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT users_userprofile_graduation_year_check CHECK ((graduation_year >= 0)),
    CONSTRAINT users_userprofile_semester_check CHECK ((semester >= 0))
);


ALTER TABLE public.users_userprofile OWNER TO postgres;

--
-- Name: users_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: activities_activity activities_activity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_activity
    ADD CONSTRAINT activities_activity_pkey PRIMARY KEY (id);


--
-- Name: activities_challenge activities_challenge_activity_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_challenge
    ADD CONSTRAINT activities_challenge_activity_id_key UNIQUE (activity_id);


--
-- Name: activities_challenge activities_challenge_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_challenge
    ADD CONSTRAINT activities_challenge_pkey PRIMARY KEY (id);


--
-- Name: activities_enrollment activities_enrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_enrollment
    ADD CONSTRAINT activities_enrollment_pkey PRIMARY KEY (id);


--
-- Name: activities_enrollment activities_enrollment_student_id_activity_id_48c5f4c1_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_enrollment
    ADD CONSTRAINT activities_enrollment_student_id_activity_id_48c5f4c1_uniq UNIQUE (student_id, activity_id);


--
-- Name: activities_mentorapplication activities_mentorapplica_graduate_id_activity_id_00e74a17_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_mentorapplication
    ADD CONSTRAINT activities_mentorapplica_graduate_id_activity_id_00e74a17_uniq UNIQUE (graduate_id, activity_id);


--
-- Name: activities_mentorapplication activities_mentorapplication_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_mentorapplication
    ADD CONSTRAINT activities_mentorapplication_pkey PRIMARY KEY (id);


--
-- Name: activities_team_members activities_team_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_team_members
    ADD CONSTRAINT activities_team_members_pkey PRIMARY KEY (id);


--
-- Name: activities_team_members activities_team_members_team_id_customuser_id_074de079_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_team_members
    ADD CONSTRAINT activities_team_members_team_id_customuser_id_074de079_uniq UNIQUE (team_id, customuser_id);


--
-- Name: activities_team activities_team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_team
    ADD CONSTRAINT activities_team_pkey PRIMARY KEY (id);


--
-- Name: analytics_cohortreport analytics_cohortreport_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_cohortreport
    ADD CONSTRAINT analytics_cohortreport_pkey PRIMARY KEY (id);


--
-- Name: analytics_studentmetric analytics_studentmetric_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_studentmetric
    ADD CONSTRAINT analytics_studentmetric_pkey PRIMARY KEY (id);


--
-- Name: analytics_studentmetric analytics_studentmetric_student_id_competency_id_e8e6c184_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_studentmetric
    ADD CONSTRAINT analytics_studentmetric_student_id_competency_id_e8e6c184_uniq UNIQUE (student_id, competency_id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: competencies_competency competencies_competency_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competencies_competency
    ADD CONSTRAINT competencies_competency_name_key UNIQUE (name);


--
-- Name: competencies_competency competencies_competency_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competencies_competency
    ADD CONSTRAINT competencies_competency_pkey PRIMARY KEY (id);


--
-- Name: competencies_rubric competencies_rubric_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competencies_rubric
    ADD CONSTRAINT competencies_rubric_pkey PRIMARY KEY (id);


--
-- Name: competencies_rubric competencies_rubric_subcompetency_id_level_9e6b6331_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competencies_rubric
    ADD CONSTRAINT competencies_rubric_subcompetency_id_level_9e6b6331_uniq UNIQUE (subcompetency_id, level);


--
-- Name: competencies_subcompetency competencies_subcompetency_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competencies_subcompetency
    ADD CONSTRAINT competencies_subcompetency_pkey PRIMARY KEY (id);


--
-- Name: diagnostics_diagnosticquestion diagnostics_diagnosticquestion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnostics_diagnosticquestion
    ADD CONSTRAINT diagnostics_diagnosticquestion_pkey PRIMARY KEY (id);


--
-- Name: diagnostics_diagnosticresult diagnostics_diagnosticre_student_id_question_id_0407b25d_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnostics_diagnosticresult
    ADD CONSTRAINT diagnostics_diagnosticre_student_id_question_id_0407b25d_uniq UNIQUE (student_id, question_id);


--
-- Name: diagnostics_diagnosticresult diagnostics_diagnosticresult_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnostics_diagnosticresult
    ADD CONSTRAINT diagnostics_diagnosticresult_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: evaluations_auditlog evaluations_auditlog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_auditlog
    ADD CONSTRAINT evaluations_auditlog_pkey PRIMARY KEY (id);


--
-- Name: evaluations_evaluation360 evaluations_evaluation360_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_evaluation360
    ADD CONSTRAINT evaluations_evaluation360_pkey PRIMARY KEY (id);


--
-- Name: evaluations_evaluationscore evaluations_evaluationsc_evaluation_id_subcompete_03069533_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_evaluationscore
    ADD CONSTRAINT evaluations_evaluationsc_evaluation_id_subcompete_03069533_uniq UNIQUE (evaluation_id, subcompetency_id);


--
-- Name: evaluations_evaluationscore evaluations_evaluationscore_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_evaluationscore
    ADD CONSTRAINT evaluations_evaluationscore_pkey PRIMARY KEY (id);


--
-- Name: evaluations_graduatefeedback evaluations_graduatefeedback_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_graduatefeedback
    ADD CONSTRAINT evaluations_graduatefeedback_pkey PRIMARY KEY (id);


--
-- Name: evidences_evidence evidences_evidence_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidences_evidence
    ADD CONSTRAINT evidences_evidence_pkey PRIMARY KEY (id);


--
-- Name: evidences_filemetadata evidences_filemetadata_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidences_filemetadata
    ADD CONSTRAINT evidences_filemetadata_pkey PRIMARY KEY (id);


--
-- Name: notifications_notification notifications_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notification_pkey PRIMARY KEY (id);


--
-- Name: users_customuser users_customuser_cedula_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_customuser
    ADD CONSTRAINT users_customuser_cedula_key UNIQUE (cedula);


--
-- Name: users_customuser_groups users_customuser_groups_customuser_id_group_id_76b619e3_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_customuser_groups
    ADD CONSTRAINT users_customuser_groups_customuser_id_group_id_76b619e3_uniq UNIQUE (customuser_id, group_id);


--
-- Name: users_customuser_groups users_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_customuser_groups
    ADD CONSTRAINT users_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: users_customuser users_customuser_institutional_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_customuser
    ADD CONSTRAINT users_customuser_institutional_email_key UNIQUE (institutional_email);


--
-- Name: users_customuser users_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_customuser
    ADD CONSTRAINT users_customuser_pkey PRIMARY KEY (id);


--
-- Name: users_customuser_user_permissions users_customuser_user_pe_customuser_id_permission_7a7debf6_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_customuser_user_permissions
    ADD CONSTRAINT users_customuser_user_pe_customuser_id_permission_7a7debf6_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: users_customuser_user_permissions users_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_customuser_user_permissions
    ADD CONSTRAINT users_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_customuser users_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_customuser
    ADD CONSTRAINT users_customuser_username_key UNIQUE (username);


--
-- Name: users_role users_role_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_role
    ADD CONSTRAINT users_role_name_key UNIQUE (name);


--
-- Name: users_role users_role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_role
    ADD CONSTRAINT users_role_pkey PRIMARY KEY (id);


--
-- Name: users_supportticket users_supportticket_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_supportticket
    ADD CONSTRAINT users_supportticket_pkey PRIMARY KEY (id);


--
-- Name: users_systemsetting users_systemsetting_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_systemsetting
    ADD CONSTRAINT users_systemsetting_pkey PRIMARY KEY (id);


--
-- Name: users_userprofile users_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_userprofile
    ADD CONSTRAINT users_userprofile_pkey PRIMARY KEY (id);


--
-- Name: users_userprofile users_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_userprofile
    ADD CONSTRAINT users_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: activities_activity_competency_id_8437185d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activities_activity_competency_id_8437185d ON public.activities_activity USING btree (competency_id);


--
-- Name: activities_activity_instructor_id_b771a300; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activities_activity_instructor_id_b771a300 ON public.activities_activity USING btree (instructor_id);


--
-- Name: activities_enrollment_activity_id_2d054d48; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activities_enrollment_activity_id_2d054d48 ON public.activities_enrollment USING btree (activity_id);


--
-- Name: activities_enrollment_student_id_12ee7099; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activities_enrollment_student_id_12ee7099 ON public.activities_enrollment USING btree (student_id);


--
-- Name: activities_enrollment_team_id_939f5724; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activities_enrollment_team_id_939f5724 ON public.activities_enrollment USING btree (team_id);


--
-- Name: activities_mentorapplication_activity_id_dfcd3c1a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activities_mentorapplication_activity_id_dfcd3c1a ON public.activities_mentorapplication USING btree (activity_id);


--
-- Name: activities_mentorapplication_graduate_id_00eff36f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activities_mentorapplication_graduate_id_00eff36f ON public.activities_mentorapplication USING btree (graduate_id);


--
-- Name: activities_team_activity_id_c71c3938; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activities_team_activity_id_c71c3938 ON public.activities_team USING btree (activity_id);


--
-- Name: activities_team_members_customuser_id_f5a88822; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activities_team_members_customuser_id_f5a88822 ON public.activities_team_members USING btree (customuser_id);


--
-- Name: activities_team_members_team_id_57d87361; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX activities_team_members_team_id_57d87361 ON public.activities_team_members USING btree (team_id);


--
-- Name: analytics_cohortreport_generated_by_id_ef99a811; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX analytics_cohortreport_generated_by_id_ef99a811 ON public.analytics_cohortreport USING btree (generated_by_id);


--
-- Name: analytics_studentmetric_competency_id_525567da; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX analytics_studentmetric_competency_id_525567da ON public.analytics_studentmetric USING btree (competency_id);


--
-- Name: analytics_studentmetric_student_id_2c92c1ec; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX analytics_studentmetric_student_id_2c92c1ec ON public.analytics_studentmetric USING btree (student_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: competencies_competency_name_bfa35cee_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competencies_competency_name_bfa35cee_like ON public.competencies_competency USING btree (name varchar_pattern_ops);


--
-- Name: competencies_rubric_subcompetency_id_3e0684e1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competencies_rubric_subcompetency_id_3e0684e1 ON public.competencies_rubric USING btree (subcompetency_id);


--
-- Name: competencies_subcompetency_competency_id_8febd563; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX competencies_subcompetency_competency_id_8febd563 ON public.competencies_subcompetency USING btree (competency_id);


--
-- Name: diagnostics_diagnosticquestion_competency_id_1bf8a696; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX diagnostics_diagnosticquestion_competency_id_1bf8a696 ON public.diagnostics_diagnosticquestion USING btree (competency_id);


--
-- Name: diagnostics_diagnosticresult_question_id_be371f2e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX diagnostics_diagnosticresult_question_id_be371f2e ON public.diagnostics_diagnosticresult USING btree (question_id);


--
-- Name: diagnostics_diagnosticresult_student_id_c86337c3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX diagnostics_diagnosticresult_student_id_c86337c3 ON public.diagnostics_diagnosticresult USING btree (student_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: evaluations_auditlog_user_id_7cc0d8e8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_auditlog_user_id_7cc0d8e8 ON public.evaluations_auditlog USING btree (user_id);


--
-- Name: evaluations_evaluation360_competency_id_1fa79d74; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_evaluation360_competency_id_1fa79d74 ON public.evaluations_evaluation360 USING btree (competency_id);


--
-- Name: evaluations_evaluation360_evaluated_id_ce29fdb8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_evaluation360_evaluated_id_ce29fdb8 ON public.evaluations_evaluation360 USING btree (evaluated_id);


--
-- Name: evaluations_evaluation360_evaluator_id_e98ab44c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_evaluation360_evaluator_id_e98ab44c ON public.evaluations_evaluation360 USING btree (evaluator_id);


--
-- Name: evaluations_evaluationscore_evaluation_id_b2669d2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_evaluationscore_evaluation_id_b2669d2c ON public.evaluations_evaluationscore USING btree (evaluation_id);


--
-- Name: evaluations_evaluationscore_subcompetency_id_9e980a1f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_evaluationscore_subcompetency_id_9e980a1f ON public.evaluations_evaluationscore USING btree (subcompetency_id);


--
-- Name: evaluations_graduatefeedback_competency_id_b02a8b97; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_graduatefeedback_competency_id_b02a8b97 ON public.evaluations_graduatefeedback USING btree (competency_id);


--
-- Name: evaluations_graduatefeedback_graduate_id_3cbaeac1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_graduatefeedback_graduate_id_3cbaeac1 ON public.evaluations_graduatefeedback USING btree (graduate_id);


--
-- Name: evidences_evidence_activity_id_44e25767; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evidences_evidence_activity_id_44e25767 ON public.evidences_evidence USING btree (activity_id);


--
-- Name: evidences_evidence_competency_id_a2a2b65d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evidences_evidence_competency_id_a2a2b65d ON public.evidences_evidence USING btree (competency_id);


--
-- Name: evidences_evidence_reviewed_by_id_f4612eff; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evidences_evidence_reviewed_by_id_f4612eff ON public.evidences_evidence USING btree (reviewed_by_id);


--
-- Name: evidences_evidence_student_id_0f1fe3a5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evidences_evidence_student_id_0f1fe3a5 ON public.evidences_evidence USING btree (student_id);


--
-- Name: evidences_filemetadata_evidence_id_f0bf6b53; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evidences_filemetadata_evidence_id_f0bf6b53 ON public.evidences_filemetadata USING btree (evidence_id);


--
-- Name: notifications_notification_recipient_id_d055f3f0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_notification_recipient_id_d055f3f0 ON public.notifications_notification USING btree (recipient_id);


--
-- Name: users_customuser_cedula_8ec1163d_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_customuser_cedula_8ec1163d_like ON public.users_customuser USING btree (cedula varchar_pattern_ops);


--
-- Name: users_customuser_groups_customuser_id_958147bf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_customuser_groups_customuser_id_958147bf ON public.users_customuser_groups USING btree (customuser_id);


--
-- Name: users_customuser_groups_group_id_01390b14; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_customuser_groups_group_id_01390b14 ON public.users_customuser_groups USING btree (group_id);


--
-- Name: users_customuser_institutional_email_80602fbc_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_customuser_institutional_email_80602fbc_like ON public.users_customuser USING btree (institutional_email varchar_pattern_ops);


--
-- Name: users_customuser_role_id_75f28582; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_customuser_role_id_75f28582 ON public.users_customuser USING btree (role_id);


--
-- Name: users_customuser_user_permissions_customuser_id_5771478b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_customuser_user_permissions_customuser_id_5771478b ON public.users_customuser_user_permissions USING btree (customuser_id);


--
-- Name: users_customuser_user_permissions_permission_id_baaa2f74; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_customuser_user_permissions_permission_id_baaa2f74 ON public.users_customuser_user_permissions USING btree (permission_id);


--
-- Name: users_customuser_username_80452fdf_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_customuser_username_80452fdf_like ON public.users_customuser USING btree (username varchar_pattern_ops);


--
-- Name: users_role_name_86bbd537_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_role_name_86bbd537_like ON public.users_role USING btree (name varchar_pattern_ops);


--
-- Name: users_supportticket_assigned_to_id_b0aaf2e4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_supportticket_assigned_to_id_b0aaf2e4 ON public.users_supportticket USING btree (assigned_to_id);


--
-- Name: users_supportticket_user_id_159fe468; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_supportticket_user_id_159fe468 ON public.users_supportticket USING btree (user_id);


--
-- Name: users_systemsetting_updated_by_id_289e090c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_systemsetting_updated_by_id_289e090c ON public.users_systemsetting USING btree (updated_by_id);


--
-- Name: activities_activity activities_activity_competency_id_8437185d_fk_competenc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_activity
    ADD CONSTRAINT activities_activity_competency_id_8437185d_fk_competenc FOREIGN KEY (competency_id) REFERENCES public.competencies_competency(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: activities_activity activities_activity_instructor_id_b771a300_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_activity
    ADD CONSTRAINT activities_activity_instructor_id_b771a300_fk_users_cus FOREIGN KEY (instructor_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: activities_challenge activities_challenge_activity_id_9dad0dbc_fk_activitie; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_challenge
    ADD CONSTRAINT activities_challenge_activity_id_9dad0dbc_fk_activitie FOREIGN KEY (activity_id) REFERENCES public.activities_activity(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: activities_enrollment activities_enrollmen_activity_id_2d054d48_fk_activitie; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_enrollment
    ADD CONSTRAINT activities_enrollmen_activity_id_2d054d48_fk_activitie FOREIGN KEY (activity_id) REFERENCES public.activities_activity(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: activities_enrollment activities_enrollmen_student_id_12ee7099_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_enrollment
    ADD CONSTRAINT activities_enrollmen_student_id_12ee7099_fk_users_cus FOREIGN KEY (student_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: activities_enrollment activities_enrollment_team_id_939f5724_fk_activities_team_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_enrollment
    ADD CONSTRAINT activities_enrollment_team_id_939f5724_fk_activities_team_id FOREIGN KEY (team_id) REFERENCES public.activities_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: activities_mentorapplication activities_mentorapp_activity_id_dfcd3c1a_fk_activitie; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_mentorapplication
    ADD CONSTRAINT activities_mentorapp_activity_id_dfcd3c1a_fk_activitie FOREIGN KEY (activity_id) REFERENCES public.activities_activity(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: activities_mentorapplication activities_mentorapp_graduate_id_00eff36f_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_mentorapplication
    ADD CONSTRAINT activities_mentorapp_graduate_id_00eff36f_fk_users_cus FOREIGN KEY (graduate_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: activities_team activities_team_activity_id_c71c3938_fk_activities_activity_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_team
    ADD CONSTRAINT activities_team_activity_id_c71c3938_fk_activities_activity_id FOREIGN KEY (activity_id) REFERENCES public.activities_activity(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: activities_team_members activities_team_memb_customuser_id_f5a88822_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_team_members
    ADD CONSTRAINT activities_team_memb_customuser_id_f5a88822_fk_users_cus FOREIGN KEY (customuser_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: activities_team_members activities_team_members_team_id_57d87361_fk_activities_team_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activities_team_members
    ADD CONSTRAINT activities_team_members_team_id_57d87361_fk_activities_team_id FOREIGN KEY (team_id) REFERENCES public.activities_team(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: analytics_cohortreport analytics_cohortrepo_generated_by_id_ef99a811_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_cohortreport
    ADD CONSTRAINT analytics_cohortrepo_generated_by_id_ef99a811_fk_users_cus FOREIGN KEY (generated_by_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: analytics_studentmetric analytics_studentmet_competency_id_525567da_fk_competenc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_studentmetric
    ADD CONSTRAINT analytics_studentmet_competency_id_525567da_fk_competenc FOREIGN KEY (competency_id) REFERENCES public.competencies_competency(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: analytics_studentmetric analytics_studentmet_student_id_2c92c1ec_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_studentmetric
    ADD CONSTRAINT analytics_studentmet_student_id_2c92c1ec_fk_users_cus FOREIGN KEY (student_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competencies_rubric competencies_rubric_subcompetency_id_3e0684e1_fk_competenc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competencies_rubric
    ADD CONSTRAINT competencies_rubric_subcompetency_id_3e0684e1_fk_competenc FOREIGN KEY (subcompetency_id) REFERENCES public.competencies_subcompetency(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: competencies_subcompetency competencies_subcomp_competency_id_8febd563_fk_competenc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.competencies_subcompetency
    ADD CONSTRAINT competencies_subcomp_competency_id_8febd563_fk_competenc FOREIGN KEY (competency_id) REFERENCES public.competencies_competency(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: diagnostics_diagnosticquestion diagnostics_diagnost_competency_id_1bf8a696_fk_competenc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnostics_diagnosticquestion
    ADD CONSTRAINT diagnostics_diagnost_competency_id_1bf8a696_fk_competenc FOREIGN KEY (competency_id) REFERENCES public.competencies_competency(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: diagnostics_diagnosticresult diagnostics_diagnost_question_id_be371f2e_fk_diagnosti; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnostics_diagnosticresult
    ADD CONSTRAINT diagnostics_diagnost_question_id_be371f2e_fk_diagnosti FOREIGN KEY (question_id) REFERENCES public.diagnostics_diagnosticquestion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: diagnostics_diagnosticresult diagnostics_diagnost_student_id_c86337c3_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diagnostics_diagnosticresult
    ADD CONSTRAINT diagnostics_diagnost_student_id_c86337c3_fk_users_cus FOREIGN KEY (student_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_customuser_id FOREIGN KEY (user_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_auditlog evaluations_auditlog_user_id_7cc0d8e8_fk_users_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_auditlog
    ADD CONSTRAINT evaluations_auditlog_user_id_7cc0d8e8_fk_users_customuser_id FOREIGN KEY (user_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_evaluation360 evaluations_evaluati_competency_id_1fa79d74_fk_competenc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_evaluation360
    ADD CONSTRAINT evaluations_evaluati_competency_id_1fa79d74_fk_competenc FOREIGN KEY (competency_id) REFERENCES public.competencies_competency(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_evaluation360 evaluations_evaluati_evaluated_id_ce29fdb8_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_evaluation360
    ADD CONSTRAINT evaluations_evaluati_evaluated_id_ce29fdb8_fk_users_cus FOREIGN KEY (evaluated_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_evaluationscore evaluations_evaluati_evaluation_id_b2669d2c_fk_evaluatio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_evaluationscore
    ADD CONSTRAINT evaluations_evaluati_evaluation_id_b2669d2c_fk_evaluatio FOREIGN KEY (evaluation_id) REFERENCES public.evaluations_evaluation360(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_evaluation360 evaluations_evaluati_evaluator_id_e98ab44c_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_evaluation360
    ADD CONSTRAINT evaluations_evaluati_evaluator_id_e98ab44c_fk_users_cus FOREIGN KEY (evaluator_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_evaluationscore evaluations_evaluati_subcompetency_id_9e980a1f_fk_competenc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_evaluationscore
    ADD CONSTRAINT evaluations_evaluati_subcompetency_id_9e980a1f_fk_competenc FOREIGN KEY (subcompetency_id) REFERENCES public.competencies_subcompetency(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_graduatefeedback evaluations_graduate_competency_id_b02a8b97_fk_competenc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_graduatefeedback
    ADD CONSTRAINT evaluations_graduate_competency_id_b02a8b97_fk_competenc FOREIGN KEY (competency_id) REFERENCES public.competencies_competency(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_graduatefeedback evaluations_graduate_graduate_id_3cbaeac1_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_graduatefeedback
    ADD CONSTRAINT evaluations_graduate_graduate_id_3cbaeac1_fk_users_cus FOREIGN KEY (graduate_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evidences_evidence evidences_evidence_activity_id_44e25767_fk_activitie; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidences_evidence
    ADD CONSTRAINT evidences_evidence_activity_id_44e25767_fk_activitie FOREIGN KEY (activity_id) REFERENCES public.activities_activity(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evidences_evidence evidences_evidence_competency_id_a2a2b65d_fk_competenc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidences_evidence
    ADD CONSTRAINT evidences_evidence_competency_id_a2a2b65d_fk_competenc FOREIGN KEY (competency_id) REFERENCES public.competencies_competency(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evidences_evidence evidences_evidence_reviewed_by_id_f4612eff_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidences_evidence
    ADD CONSTRAINT evidences_evidence_reviewed_by_id_f4612eff_fk_users_cus FOREIGN KEY (reviewed_by_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evidences_evidence evidences_evidence_student_id_0f1fe3a5_fk_users_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidences_evidence
    ADD CONSTRAINT evidences_evidence_student_id_0f1fe3a5_fk_users_customuser_id FOREIGN KEY (student_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evidences_filemetadata evidences_filemetada_evidence_id_f0bf6b53_fk_evidences; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evidences_filemetadata
    ADD CONSTRAINT evidences_filemetada_evidence_id_f0bf6b53_fk_evidences FOREIGN KEY (evidence_id) REFERENCES public.evidences_evidence(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notifications_notification notifications_notifi_recipient_id_d055f3f0_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notifi_recipient_id_d055f3f0_fk_users_cus FOREIGN KEY (recipient_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_customuser_groups users_customuser_gro_customuser_id_958147bf_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_customuser_groups
    ADD CONSTRAINT users_customuser_gro_customuser_id_958147bf_fk_users_cus FOREIGN KEY (customuser_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_customuser_groups users_customuser_groups_group_id_01390b14_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_customuser_groups
    ADD CONSTRAINT users_customuser_groups_group_id_01390b14_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_customuser users_customuser_role_id_75f28582_fk_users_role_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_customuser
    ADD CONSTRAINT users_customuser_role_id_75f28582_fk_users_role_id FOREIGN KEY (role_id) REFERENCES public.users_role(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_customuser_user_permissions users_customuser_use_customuser_id_5771478b_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_customuser_user_permissions
    ADD CONSTRAINT users_customuser_use_customuser_id_5771478b_fk_users_cus FOREIGN KEY (customuser_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_customuser_user_permissions users_customuser_use_permission_id_baaa2f74_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_customuser_user_permissions
    ADD CONSTRAINT users_customuser_use_permission_id_baaa2f74_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_supportticket users_supportticket_assigned_to_id_b0aaf2e4_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_supportticket
    ADD CONSTRAINT users_supportticket_assigned_to_id_b0aaf2e4_fk_users_cus FOREIGN KEY (assigned_to_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_supportticket users_supportticket_user_id_159fe468_fk_users_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_supportticket
    ADD CONSTRAINT users_supportticket_user_id_159fe468_fk_users_customuser_id FOREIGN KEY (user_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_systemsetting users_systemsetting_updated_by_id_289e090c_fk_users_cus; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_systemsetting
    ADD CONSTRAINT users_systemsetting_updated_by_id_289e090c_fk_users_cus FOREIGN KEY (updated_by_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_userprofile users_userprofile_user_id_87251ef1_fk_users_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_userprofile
    ADD CONSTRAINT users_userprofile_user_id_87251ef1_fk_users_customuser_id FOREIGN KEY (user_id) REFERENCES public.users_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict rSMSWBavSH5529DfirhUAaBXpVnCXg1bEbbrQHvH3cmmfCsRrYZz6fPH9c53Vdj

